// Place all the styles related to the survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.evaluation textarea {
	width:90%; 
	height:180px;
	border-width: 1px;
	border-color: #000000;
}

h2 {
	background-color: #78EB60;
	padding: 5px;
}